body {

  margin: 0;

  font-family: Arial, sans-serif;

  background: #0a0a0a;

  color: white;

}
 
/* NAVBAR */

header {

  padding: 20px;

}
 
nav {

  display: flex;

  justify-content: space-between;

  align-items: center;

}
 
.logo {

  font-size: 22px;

}
 
nav ul {

  list-style: none;

  display: flex;

  gap: 25px;

}
 
nav ul li a {

  text-decoration: none;

  color: white;

  font-weight: bold;

}
 
nav ul li a.active {

  border-bottom: 2px solid red;

}
 
/* HERO */

.hero {

  display: flex;

  justify-content: space-around;

  align-items: center;

  padding: 80px 10%;

}
 
.hero-text h1 {

  font-size: 55px;

}
 
.hero-text span {

  color: red;

}
 
.hero-text h2 {

  font-size: 30px;

}
 
.btn {

  display: inline-block;

  margin-top: 20px;

  padding: 12px 25px;

  background: red;

  color: white;

  border-radius: 10px;

  text-decoration: none;

}
 
/* IMAGE */

.hero-img img {

  width: 280px;

  border-radius: 25px;

  transform: rotate(8deg);

}
 
/* SECTIONS */

.section {

  padding: 60px 10%;

  text-align: center;

}
 
.skills-grid {

  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

  gap: 20px;

  margin-top: 30px;

}
 
.skills-grid div {

  background: #111;

  padding: 15px;

  border-radius: 10px;

  border: 1px solid red;

}

 
